<div class="ui container">
    <div class="ui three item menu">
        <a class="item" routerLink="/"><i class="large home icon"></i>Home</a>
        <a class="item" routerLink="/manage"> <i class="large user circle icon"></i> Login</a>
    </div>
    Username:<br>
    <input type="text" name="" id=""><br>
    Password:<br>
    <input type="password" name="" id=""><br>
    <br>
    <label for="subject"> Professional Validation Form:</label><br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px; width:300px"></textarea><br>
    <button class="ui primary button" type="submit">Submit</button>
</div>