<div class="ui container">
    <div class="ui three item menu">
        <a class="item" routerLink="/"><i class="large home icon"></i>Home</a>
        <a class="item" routerLink="/manage"> <i class="large user circle icon"></i> Login</a>
      </div>
<h1>ShePower Mission Statement</h1>
<p>The ShePower is an empowerment coalition geared towards women. Although ShePower is a space
  for female-identified people, ShePower aims to connect all. </p>
<img src="https://i.ytimg.com/vi/AePTyJ0DdyY/hqdefault.jpg">


 <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <div class="content">
      <a class="author">Anonymous</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="content">
      <a class="author">Anonymous</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="content">
          <a class="author">Jenny Hess</a> <a class="ui teal tag label">Lawyer</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            You are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="content">
      <a class="author">Sarah</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
</div>